<div class="mb-3">
  <h3 class="text-secondary">World Wide</h3>
  <div class="row gy-2">
    <div class="col-6 col-lg-3">
      <div class="confirmed text-white">
        <p>
          <small class="me-2"><i class="fas fa-user"></i></small> Confirmed
        </p>
        <p class="number">
          {{ (dataWorld?.confirmed ? dataWorld?.confirmed : "0") | number }}
        </p>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="recovered text-white">
        <p>
          <small class="me-2"> <i class="fas fa-plus-square"></i></small>
          Recovered
        </p>
        <p class="number">
          {{ (dataWorld?.recovered ? dataWorld?.recovered : "0") | number }}
        </p>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="deaths text-white">
        <p>
          <small class="me-2"><i class="fas fa-skull-crossbones"></i></small>
          Deaths
        </p>
        <p class="number">
          {{ (dataWorld?.deaths ? dataWorld?.deaths : "0") | number }}
        </p>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="fatality-rate text-white">
        <p>
          <small class="me-2"><i class="fas fa-exclamation-circle"></i></small>
          Fatality rate
        </p>
        <p class="number">
          {{
            (dataWorld?.fatalityRate ? dataWorld?.fatalityRate : "0")
              | number: "1.2-2"
          }}%
        </p>
      </div>
    </div>
  </div>
</div>
