<ul class="folders-list">
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="inbox"><i class="far fa-folder"></i> inbox</a>
  </li>
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="finance"><i class="far fa-folder"></i> finance</a>
  </li>
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="travel"><i class="far fa-folder"></i> travel</a>
  </li>
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="personal"><i class="far fa-folder"></i> personal</a>
  </li>
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="spam"><i class="far fa-folder"></i> spam</a>
  </li>
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="drafts"><i class="far fa-folder"></i> drafts</a>
  </li>
  <li class="folder-item" routerLinkActive="active">
    <a routerLink="send"><i class="far fa-folder"></i> send</a>
  </li>
</ul>
