<div class="email-header">
  <div>
    <h4>{{ message.subject }}</h4>
    <p>
      {{ message.from }}
      <i class="fa fa-long-arrow-alt-right"></i> {{ message.to }}
    </p>
  </div>
  <div>
    <div>
      <p>{{ message.date | date: "MMMM d, y, h:mm:ss a" }}</p>
    </div>
    <div>
      <button type="button" class="btn btn-primary me-1">
        <i class="fa fa-reply me-2"></i>Reply
      </button>
      <button type="button" class="btn btn-primary me-1">
        <i class="fa fa-forward me-2"></i>Forward
      </button>
      <button type="button" class="btn btn-primary me-1">
        <i class="fas fa-times me-2"></i>Delete
      </button>
    </div>
  </div>
</div>

<div class="email-body">
  <p innerHTML="{{ message.body | breakLine }}"></p>
</div>
